* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    justify-items: center;
    justify-content: space-evenly;
}
#header-menu {
    align-items: center;
    display: flex;
    border-right: 1px solid #3d3d3d;
    border-left: 1px solid #3d3d3d;
    height: 100%;
    padding: 14px 16px;
    font-size: 12px;
    padding-left: 8px;
}
#mu-shield {
    position: relative;
    top: 10px;
    right: 12px;
    width: 24px;
    height: 24px;
}
#header-menu a {
    text-decoration: none ;
    color: white;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
#header-menu p {
    margin-left: 10px;
    padding:4px;
}
#propaganda {
    display: flex;
    margin: 0;
    width: 150px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 0;
    border-right: 1px solid #3d3d3d;
    border-left: 1px solid #3d3d3d;
    height: 100%;
    padding: 1px 16px;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}
#propaganda a{
    text-decoration: none;
    color: white;
}
#propaganda p {
    font-size: 14px;
}
#propaganda span {
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
}
span {
    font-size: 12px;
}
#menu-nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 100%;
}
#menu-nav li{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 14px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 8px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 4px;
}
#menu-nav a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}
#propaganda-stream {
    display: flex;
    background-color: #151515;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    color: white;
    font-size: 14px;
    margin-top: 8px;
    padding: 4px;
}
#propaganda-stream p {
    margin-right: 16px;
}
#cabecalho {
    width: 100%;
    background-color: #202020;
}
#avengers-section{
    position: relative;
}
#banner-avengers {
    background-image: url(./imagens/1_zPu_FUbvUEWBtUZ-8o2HWQ.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: unset;
}
#section-comics {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-comics {
    display: flex;
    align-items: center;
    margin-top:1000px;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100px;
    justify-content: space-evenly;
    flex-grow: 1;
    border-bottom: #6b6b6b 1px solid;
}
#caracthers {
    margin: auto;
    top: 20px;
    bottom: 0;
}
#homem-aranha {
    height: 350px;
    box-shadow: #151515 9px 9px 7px;
}
#viuvanegra {
    box-shadow: #151515 9px 9px 7px;
    margin-left: 20px;
    height: 350px;
}
#ironman {
    box-shadow: #151515 9px 9px 7px;
    margin-left: 20px;
    height: 350px;
}
#ghostrider {
    box-shadow: #151515 9px 9px 7px;
    margin-left: 20px;
    height: 350px;
}
#wolverine {
    box-shadow: #151515 9px 9px 7px;
    margin-left: 20px;
    height: 350px;
}
#hr-div {
    width: 800px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}
.nome1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 0px;
    bottom: 130px;
    position: relative;
    width: fit-content;
}
.nome2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 260px;
    bottom: 95px;
    position: relative;
    width: fit-content;
}
.nome3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 520px;
    bottom: 60px;
    position: relative;
    width: fit-content;
}
.nome4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 775px;
    bottom: 25px;
    position: relative;
    width: fit-content;
}
.nome5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 1035px;
    top: 12px;
    position: relative;
    width: fit-content;
}
#imagensheros {
    margin-top: 50px;
}
.psylock {
    box-shadow: #151515 9px 9px 7px;
    cursor: pointer;
    width: 300px;
    height: 450px;
    margin-left: 15px;
}
.psylock1 {
    box-shadow: #151515 9px 9px 7px;
    cursor: pointer;
    width: 300px;
    height: 450px;
}
#contents {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 100px;
}
.moviesdiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.moviestitle {
     font-size: 50px;
     color: #202020;
     letter-spacing: 5px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: lighter;
     text-transform: uppercase;
     max-width: fit-content;
     height: fit-content;
}
footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #151515;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 10px;
    font-size: 20px;
}